 .button1{

color: rgb(0, 255, 55);
background-color: rgb(73, 43, 226);
border: radius 10 px;%; 
margin: bottom 50 px;%;

}
.button2{ 

border-radius: 50%;
margin-top: 40 px;
width: 40 px;
height: 40 px;
padding: 70 px;
}
 .button3{ 
margin: 70 px;
max-width: 50 px;
padding: 80 px;

 }
 