.container{
    text-align: center;
    font-size: larger;
border: solid 3px;
height: 1500px;
width: 1200px;
color: black;
background-color:rgba(0, 255, 221, 0.981);
}

.header{
    align-items: center;
    border: solid;
    height: 300px;
    width: 1000px;
    color: aqua;
    margin-top: 10px;
    margin-left: 5px;
background-color: green;
}
.header img{
height: 100px;
width: 200px;
margin: 10px;
margin-top: 20px;
margin-bottom: 30px;
padding-left: 20px;

}

.main{
align-items: center;
color: yellow;
width: 1000px;
height: 500px;
background-color: rgb(247, 255, 196);
margin-top: 200px;
margin-left: 30px;
margin: 30px;
background-color: brown;
}
.main img{
 height: 200px;
width: 300px;
margin: 50px;
}
.footer{
height: 300px;
width: 1000px;
color: blueviolet;
margin-top: 100px;
margin-left: 30px;
background-color: rgb(255, 153, 127);

}
.footer img{
height: 200px;
width: 300px;
margin-top: 50px;
}


